<div ng-controller="PowerSupplyController" class="text-center md-padding">
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular ng-if="busy" md-mode="indeterminate"></md-progress-circular>

        <md-card ng-if="!busy && !suggestions" class="card-md">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Вопрос {{questionIndex + 1}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    {{questions[questionIndex]}}
                </p>
            </md-card-content>
            <md-card-actions layout="column" layout-align="start">
                <md-button ng-click="onAnswer(1)">Да</md-button>
                <md-button ng-click="onAnswer(0)">Нет</md-button>
                <md-button ng-click="onAnswer(0.5)">Я не знаю</md-button>
                <md-button ng-click="onAnswer(0.75)">Возможно, частично</md-button>
                <md-button ng-click="onAnswer(0.25)">Скорее нет, не совсем</md-button>
            </md-card-actions>
        </md-card>

        <md-card ng-if="!busy && suggestions" class="card-md">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline" ng-if="suggestions.length>0">Возможные решения проблемы:</span>
                    <span class="md-headline" ng-if="suggestions.length === 0">Упс...</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p ng-repeat="suggestion in suggestions track by $index">{{suggestion}}</p>
                <p ng-if="suggestions.length === 0">С такими проблемами мы ещё не сталкивались...</p>
            </md-card-content>
            <md-card-actions layout="column" layout-align="start">
                <md-button ng-click="reset()">Заново</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>