<div class="text-center md-padding display-flex justify-center">
    <md-card class="card-md">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Немножечко информации о проекте</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                Этот небольшой проект представляет собой экспертную систему для диагностики
                неисправностей загрузки компьютера под управлением ОС Windows.
            </p>
            <p>
                В качестве источников диагностической информации использовалась 
                замечательная книга Морриса Розенталя "Computer Repair with Diagnostic Flowcharts Third Edition" 
                и личный опыт авторов проекта.
            </p>
            <p>
                Если у вас есть идеи по улучшению и доработке проекта - не стесняйтесь делать форки 
                и отправлять мерж-реквесты, всё посмотрим-добавим, честно-честно :)
            </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button><a href="https://bitbucket.org/ZverUzer/windowsexpert">Мы на BitBucket</a></md-button>
            <md-button><a href="http://www.fonerbooks.com/erepbook.htm">Купить книгу</a></md-button>
        </md-card-actions>
    </md-card>
</div>